*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background: radial-gradient(rgb(28, 28, 28),rgb(0, 0, 0));
    height: 100vh;
    color: whitesmoke;
    display: grid;
    grid-template-areas: "header header header"
    "faixa1 main faixa2"
    "footer footer footer";
    grid-template-rows: 30vh auto 55vh;
    grid-template-columns: 20vw auto 20vw;
    overflow: hidden;
    font-family: "thundercats";
}
header{
    grid-area: header;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
h1{
    display: flex;
    justify-content: center;
    color:whitesmoke;
}
main{
    height: calc(auto + 10vh);
    grid-area: main;
    border: red solid 5px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    padding: 10px;
}
form{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 20px;
    font-size: 30px;
}
.input{
    color: whitesmoke;
    height: 35px;
    background: none;
    border-radius: 5px;
    border: none;
    border-bottom:white solid 2px;
    transition: 0.5s;
}
.input:hover{
    border-bottom:red solid 2px ;
}
#enviar{
    background: none;
    color: whitesmoke;
    border: none;
    border-bottom:rgb(255, 0, 0) solid 2px;
    border-radius: 5px;
    padding: 5px;
    width: 100%;
    margin-top: 30px;
    transition: 0.5s ;
}
#enviar:hover{
    background-color: red;
    cursor: pointer;
    
}
footer{
    grid-area: footer;
}