*{
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
}
body{
    background-color: black;
    color: whitesmoke;
}
header{
    border-bottom: 1px white solid;
    margin-top: 2%;
}
nav{
    display: inline;
}
#logo{
    border-bottom: 3px red solid;
    margin-left: 5%;
}
ul{
    float: right;
}
li{
    list-style: none; float: right;margin-right: 5px;
    margin-top: 2%;
    border: 3px rgb(255, 0, 0) solid; border-radius: 5px;
    background-color: rgb(0, 0, 0);
    font-family: 'Courier New';font-weight: 700;
}
li:hover{
    list-style: none; 
    margin-top: 2%;
    border: 3px rgb(255, 0, 0) solid; border-radius: 5px;
    background-color: rgb(255, 0, 0);
    font-family: 'Courier New';font-weight: 700;
}
a{
    color: whitesmoke;
}
@media screen and (max-width:480px){
    *{
        background-color: rgb(0, 0, 0);
    }
    header{
        border-bottom: 3px white solid;
        margin-top: 2%;
    }
    nav{
        display: inline;
    }
    #logo{
        border-bottom: 3px red solid;
        margin-left: 5%;
    }
    li{
        padding-bottom: 10px;
        list-style: none; 
        margin-top: 2%;
        margin-bottom: 5px;
        border: 3px rgb(255, 0, 0) solid; border-radius: 5px;
        background-color: rgb(0, 0, 0);
        font-family: 'Courier New';font-weight: 700;
    }
}